/* Fonts */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src:  url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src:  url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src:  url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

/* ОБЩИЕ СТИЛИ */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

img {
  max-width: 100%; /* от переполнения за границы родительского контейнера */
  height: auto;
}

a {
  text-decoration: none;
}

.container-center {
  padding: 0 20px;
  margin: 0 auto;

  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 13px 35px;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.1;
  background-color: #000;
}

.reset-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

                    /* HEADER */

.background {
  background-color: #eee;
}

.main-header {
  background-color: #eee;
}

 /* Navigation */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  margin-top: 49px;

  width: 160px;
}

.main-header-logo:hover,
.main-header-logo:focus {
 opacity: 0.8;
}

.main-header-logo:active {
 opacity: 0.3;
}

.site-navigation,
.user-navigation {
  margin-top: 59px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -82px;

  width: 440px;
}

.current-page {
  padding-bottom: 9px;

  border-bottom: 3px solid #fb565a;
}

.user-navigation {
  max-width: 140px;
}

.user-navigation::before {
  content: "";

  position: absolute;

  top: 82px;
  left: 1185px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.user-navigation {
  line-height: 1.88;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation:hover,
.user-navigation:focus {
  color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

                  /* MAIN */

/* Слайдер*/

.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eee;
}

.slider-controls {
  position: absolute;

  left: 50%;
  bottom: 105px;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;


  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  vertical-align: top;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 18px;
  height: 18px;

  background: #fff;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-1:checked ~ .slider-controls .slider-controls-item-1::before,
.slider-2:checked ~ .slider-controls .slider-controls-item-2::before,
.slider-3:checked ~ .slider-controls .slider-controls-item-3::before,
.slider-1:active ~ .slider-controls .slider-controls-item-1::before,
.slider-2:active ~ .slider-controls .slider-controls-item-2::before,
.slider-3:active ~ .slider-controls .slider-controls-item-3::before  {
  content: "";

  position: absolute;
  margin: -4px;
  left: 57%;
  top: 58%;
  z-index: 1;

  width: 8px;
  height: 8px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-1:focus ~ .slider-controls .slider-controls-item-1::before,
.slider-2:focus ~ .slider-controls .slider-controls-item-2::before,
.slider-3:focus ~ .slider-controls .slider-controls-item-3::before {
  background-color: #fb565a;
}

.slider-item h3 {
  margin: 0 0 27px 0;

  max-width: 520px;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;
}

.slider-item p {
  margin: 0 0 39px 0;

  width: 380px;
}

.button-slider {
  padding-left: 53px;
  padding-right: 53px;

  min-width: 240px;
}

 /* Услуги */

.services {
  margin-right: 61px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-list li:nth-child(1){
  background-image: url("../img/illustration-1.jpg");
}

.services-list li:nth-child(2){
  background-image: url("../img/illustration-2.jpg");
}

.services-list li:nth-child(3){
  background-image: url("../img/illustration-3.jpg");
}

.services-item {
  padding-top: 147px;

  width: 300px;

  text-align: left;
  background-repeat: no-repeat;
}

.services-item h3 {
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.services-item p {
  margin-right: 20px;
  margin-bottom: 32px;
}

.button-web,
.button-app,
.button-presentation {
  min-width: 160px;
}

.button-app {
  background-color: #00ca74;
}

.button-app:focus,
.button-app:hover  {
  background-color: #00bc6c;
}

.button-app:active{
  background-color: #00aa62;
  color: #4dc491;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:focus,
.button-presentation:hover {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: #ecbe5c;
}

        /* О нас*/

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.info-description {
  margin-top: 157px;
  margin-right: 145px;

  width: 650px;
}

.info-description-title {
  display: inline-block;
  margin-bottom: 16px;

  width: 650px;

  font-weight: 500;
  font-size: 45px;
  line-height: 1;
}

.info-description-text {
  margin-bottom: 39px;
}

.info-description h3 {
  margin-bottom: 24px;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
}

.orders-item {
  position: relative;

  margin: 0px;
  margin-bottom: 24px;
  padding-left: 37px;
}

.orders-item:before {
  content: "";

  position: absolute;

  display: block;
  top: 11px;
  left: 1px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.info-numbers {
  margin-top: 122px;

  width: 363px;
}

.info-numbers-table {
  padding: 0;
  margin-top: 30px;

	width: 360px;
}

.info-numbers-table caption {
  padding-bottom: 55px;

  font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.info-numbers-table thead {
	font-weight: 700;
  text-align: left;
  color: #000;
}

.info-numbers-table th {
	padding-right: 17px;
  padding-bottom: 34px;

  font-size: 45px;
	line-height: 0.22;
}

.info-numbers-table sup {
	font-size: 29px;
}

.info-numbers-table td {
	padding-bottom: 19px;
	padding-right: 20px;

	line-height: 1.13;
	color: #283136;
}

      /* ПАРТНЕРЫ */

.partners {
  margin-bottom: 97px;
}

.partners-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding: 30px 0 20px 0;
  margin: 0;
}

.partners-list li:nth-child(4n) {
  margin: 0;
}
.partners-list::before {
  content: "";

  position: absolute;

  top: -20px;
  width: 1160px;

  background-color: inherit;
  border-top: 3px solid #eee;
}

.partners-list::after {
  content: "";

  position: absolute;

  bottom: -17px;
  width: 1160px;

  background-color: inherit;
  border-bottom: 3px solid #eee;
}

.partners-list li {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;

	width: 260px;
}

.partners-list li:after {
  content: "";

  position: absolute;

	height: 52px;
  right: -20px;

	vertical-align: middle;
	background-color: inherit;
	border-right: 2px solid #eee;
}

.partners-list li:last-child:after {
	display: none;
}

.partners-list img {
	opacity: 0.2;
}

.partners-list img:hover,
.partners-list img:focus {
	opacity: 1;
}

.partners-list img:active {
	opacity: 0.1;
}

.partners-list li:last-child {
	margin-right: 0;
}

    /* КОНТАКТЫ */

.contacts {
  position: relative;

  min-height: 416px;
  overflow: hidden;

  background: url("../img/map-marker.png") no-repeat calc(50% + 215px) calc(50% - 23px), url("../img/map-google.jpg") no-repeat 50% 50%;
}

.contacts iframe {
  position: absolute;

  width: 100%;
}

/* Адрес */
.contacts-info {
  position: absolute;

  padding: 31px 50px;
  z-index: 1;
  left: calc(50% - 580px);
  top: 54px;

  width: 320px;
  min-height: 308px;

  background-color: #fff;
  color: #666;
}

.contacts-tel a {
  color: #666;
}

.contacts-name {
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 1.67;
  color: #000;
}

.contacts-address,
.contacts-tel {
  line-height: 1.13;
}

.contacts-address {
  padding-right: 10px;
}

.contacts-tel {
  margin-bottom: 38px;
}

.button-contact {
  min-width: 219px;
}

    /* FOOTER */

.main-footer {
  display: flex;
  margin-bottom: 30px;
}

/* Иконки - соцсети */
.social-list {
  display: flex;
  align-items: center;
  margin-top: 57px;
  margin-right: 127px;
}

.social-item a {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: 12px;

  width: 79px;
  height: 79px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-item a::before {
  display: block;
  margin: 0 auto;
}

.vk a::before {
  content: "";

  width: 26px;
  height: 15px;

  background: url("../img/vk-icon.svg") center no-repeat;
}

.fb a::before {
  content: "";

  width: 12px;
  height: 22px;

  background: url("../img/fb-icon.svg") center no-repeat;
}

.insta a::before {
  content: "";

  width: 21px;
  height: 21px;

  background: url("../img/insta-icon.svg") center no-repeat;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #e74246;
}

.social-item a:active {
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
  background-color: #d7373b;
}

.social-item a:active::before {
  opacity: 0.3;
}

/* Слоган */
.footer-slogan {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 1;
  color: #000;
}

.footer-slogan p {
  margin-top: 10px;
  line-height: 1.38;
}

/* Форма для связи */
.popup-connection {
  position: fixed;

  /* display: none; */

  padding: 70px 100px 85px 100px;
  top: 20px;
  bottom: 170px;
  left: 50%;
  z-index: 4;

  width: 960px;
  transform: translateX(-50%);

  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #fff;
}

.popup-connection  h2 {
  margin: 0 0 50px 0;

  font-weight: 500;
	font-size: 45px;
	line-height: 1;
}

.popup-connection form {
  display: flex;
  flex-wrap: wrap;
}

.popup-connection-item label {
  display: block;
  margin-bottom: 8px;

	font-weight: 700;
	line-height: 1.13;
}

.popup-connection-input,
.popup-connection-textarea {
  padding: 13px;

  width: 100%;

  border: 2px solid #d7dcde;
  border-radius: 6px;
  outline: none;
}

.popup-connection-input.is-invalid {
  border-color: #e74246;
  color: #e74246;
}

.popup-connection-input:not(.is-invalid):not(.is-valid):hover,
.popup-connection-textarea:not(.is-invalid):not(.is-valid):hover {
  border-color: #b4b9bb;
}

.popup-connection-input:not(.is-invalid):not(.is-valid):focus,
.popup-connection-textarea:not(.is-invalid):not(.is-valid):focus {
  border-color: #000;
  color: #444;
}

.popup-connection .name {
  padding-right: 40px;

  width: 50%;
}

.popup-connection .email {
  width: 50%;
}

.popup-connection .text {
  width: 100%;
}

 /* Скрипт анимации */
/* .popup-show {
  display: block;

  animation: bounce 0.6s;
}

.popup-error {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
} */
/* Кнопка отправки формы */

.button-connection {
  padding: 16px 5px;

	width: 260px;
}

/* Кнопка закрытия формы */
.button-close {
  position: absolute;

  top: 78px;
  right: 90px;

	width: 21px;
  height: 21px;

  font-size: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.button-close::before,
.button-close::after {
  content: "";

  position: absolute;
  left: 1px;

	width: 24px;
  height: 3px;

  background-color: #fecccd;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after,
.button-close:focus::before,
.button-close:focus::after {
	background-color: #fb565a;
}

.button-close:active::before,
.button-close:active::after {
	background-color: #ffeeee;
}

                       /* CATALOG.HTML*/

.page-title {
  padding: 34px calc(50% - 600px);

  min-height: 235px;

  text-align: center;
  background-color: #eee;
}

.container-title {
  display: inline-block;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;

  background-color: #eee;
  color: #000;
}

.wrapper-column {
  display: flex;
  justify-content: space-between;
}

.wrapper-column-left {
  box-sizing: content-box;
  margin-top: 54px;

  max-width: 360px;
}

.wrapper-column-right {
  margin-top: 57px;

  width: 760px;
}

    /* Фильтры */

.price,
.grid,
.features {
  padding: 0;
  margin: 0;

  width: 260px;

  border: none;
}

.price {
  margin-bottom: 53px;
}

.grid {
  margin-bottom: 26px;
}

.features {
  margin-bottom: 28px;
}

.price legend,
.grid legend,
.features legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

.price legend {
  margin-bottom: 48px;

  letter-spacing: 0.6px;
}

.grid legend,
.features legend {
  margin-bottom: 16px;
}

/* Стоимость */

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;

  margin-bottom: 15px;
  padding: 39px 20px 0;

  height: 41px;

  border-radius: 5px;
  background-color: #f1f1f1;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;

  padding: 0;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  padding: 10px 10px;
  margin-left: 10px;

  width: 60px;

  text-align: center;
  border: none;
  border-radius: 5px;
  color: #283136;
  background: #f1f1f1;
}

.min-price  {
  margin-right: -4px;
}

.max-price {
  text-align: right;
}

/* Сетка */
.grid-item,
.features-item  {
  margin-bottom: 20px;

  line-height: 1.25;
}

.grid-item label,
.features-item label {
  position: relative;

  margin-left: 35px;

  cursor: pointer;
}

.grid-item-radio+label::before  {
  content: "";

  position: absolute;

  padding-right: 10px;
  top: -2px;
  left: -35px;

	width: 25px;
  height: 25px;

  border: none;
  opacity: 0.4;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A") no-repeat;
	color: #4d4d4d;
}

.grid-item-radio:checked+label::before  {
  content: "";

  position: absolute;

  top: -2px;
  left: -35px;

	width: 25px;
  height: 25px;

  border: none;
  opacity: 0.4;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%234D4D4D' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A") no-repeat;
	color: #4d4d4d;
}

.grid-item-radio+label:hover::before,
.grid-item-radio:focus+label::before {
  opacity: 1;
  color: #4d4d4d;
}

.grid-item-radio:disabled+label {
	color: rgba(40, 49, 54, 0.3);
}

.grid-item-radio:disabled+label::before {
  opacity: 0.1;
  color: #4d4d4d;
}

/* Особенности */
.features-item-checkbox+label::before {
  content: "";

  position: absolute;

  padding-right: 10px;
  top: -2px;
  left: -35px;

	width: 23px;
  height: 23px;

  border: none;
  opacity: 0.4;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%234D4D4D' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A") no-repeat;
  color: #4d4d4d;
}

.features-item-checkbox:checked+label::before {
  content: "";

  position: absolute;

  top: -2px;
  left: -35px;

	width: 23px;
  height: 23px;

  border: none;
  opacity: 0.4;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A") no-repeat;
  color: #4d4d4d;
}

.features-item-checkbox+label:hover::before,
.features-item-checkbox:focus+label::before {
  opacity: 1;
  color: #4d4d4d;
}

.features-item-checkbox:disabled+label {
	color: rgba(40, 49, 54, 0.3);
}

.features-item-checkbox:disabled+label::before {
  opacity: 0.1;
  color: #4d4d4d;
}

.button-filter {
  padding: 16px 89px;

  max-width: 260px;

  line-height: 1.13;
  border: none;
  background-color: #eee;
  color: #000;
}

.button-filter:focus,
.button-filter:hover {
  background-color: #dfdfdf;
  color: #000;
}

.button-filter:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Сортировка */

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 51px;
}

.sorting span {
  margin-right: 266px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

.sorting-list-value {
  display: flex;
  flex-wrap: wrap;
  margin-right: 6px;

  text-transform: uppercase;
}

.sorting-item-value {
  margin-right: 25px;

  font-size: 14px;
  line-height: 1.29;
}

.sorting-item-value a {
  color:rgba(0, 0, 0, 0.3);
}

a.sorting-item-current {
  color: #000;
}

.sorting-list-value a:hover,
.sorting-list-value a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-list-value a:active {
	color: #000;
}

.sorting-list-turn {
  display: flex;
  flex-wrap: wrap;
}

.sorting-item-turn a {
  margin-left: 18px;
}

.sorting-list-turn a:hover::before,
.sorting-list-turn a:focus::before {
	opacity: 0.6;
}

.sorting-list-turn a::before {
	opacity: 0.3;
}

.sorting-list-turn a:active::before {
	opacity: 1;
}

.turn-down::before {
  content: "";

  display: inline-block;

  width: 11px;
  height: 10px;

	background: url("../img/icon-down-dir.svg") no-repeat;
}

.turn-up::before {
  content: "";

  display: inline-block;

  width: 11px;
  height: 10px;

	background: url("../img/icon-up-dir.svg") no-repeat;
}

/* Каталог сайтов */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  line-height: 1.13;
}

.catalog-item {
  position: relative;

  padding-top: 39px;
  margin-bottom: 35px;

  width: 360px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e1e1e1;
}

.catalog-item:nth-child(odd):not(:last-child) {
  margin-right: 40px;
}

.catalog-item::before,
.catalog-item::after {
  content: "";

  position: absolute;
}

.catalog-item::before {
  top: 0;
  left: 0;

  height: 40px;
  width: 359px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(77, 77, 77, .12);
}

.catalog-item::after {
  top: 13px;
  left: 41px;

  width: 13px;
  height: 13px;

  border-radius: 50%;
  box-shadow: -25px 0 0 0 currentColor, 25px 0 0 0 currentColor;
  color: #fff;
  background-color: currentColor;
}

.catalog-item:hover::before {
  background-color:  rgba(77, 77, 77, 1);
}

.catalog-item img {
  display: block;
}

.catalog-item:hover .catalog-description,
.catalog-item:focus .catalog-description {
	visibility: visible;
}

.catalog-description {
  position: absolute;

  padding: 34px 65px;
  right: 0;
  bottom: 0;
  left: 0;

  min-height: 231px;

  visibility: hidden;
  text-align: center;
  background-color: #eee;
}

.catalog-description h3 {
  margin: 0;
  margin-bottom: 19px;

  color: #000;
}

.catalog-description p {
  margin-bottom: 28px;

  color: #666;
}

.catalog-description .button-price {
  padding: 16px 61px;

  color: #fff;
}

/* Пагинация */
.pagination-list {
  display: flex;
  margin-bottom: 59px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: inline-block;
  padding: 16px 21px;

  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
}

.pagination-item-current a {
  padding: 13px 18px;

  border: 3px solid #a6a6a6;
  background-color: #fff;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.button-pagination {
  padding: 13px 78px;

  background-color: #eee;
  color: #000;
}

.button-pagination:hover {
  background-color: #dfdfdf;
  color: #000;
}

.button-pagination:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

