/* Fonts */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src: src: url("../fonts/roboto.woff2") format("woff2"),
            url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src:  url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src:  url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

/* General styles */
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  font-weight: 500;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

                    /* HEADER */

 /* Navigation */
.main-navigation {
  background-color: #e1e1e1;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main-header-logo img{
  width: 160px;
  height: 65px;
  padding-top: 50px;
  padding-left: 140px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  display: flex;
  padding-top: 60px;
}

.site-navigation {
  width: 500px;
}

.site-navigation li {
  margin-right: 40px;
}

.user-navigation {
  width: 130px;
  padding-right: 140px;
}

.site-navigation a,
.user-navigation a {
  text-transform: uppercase;
  color: #000;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

                  /* MAIN *
/* Slider*/
.slider-list {
  display: none;
  list-style: none;
  background-color: #e1e1e1;
  text-align: left;
}

.slider-tagline {
  font-size: 55px;
  color: #000;
}

 /* Services */
.services {
  min-height: 360px;
  padding-right: 200px;
  padding-left: 140px;
  margin-bottom: 160px;
}

.services-list {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.services-list li {
  width: 300px;
}

.services-list li:nth-child(1){
  padding-top: 150px;
  background-image: url(../img/illustration-1.jpg);
  background-repeat: no-repeat;
}

.services-list li:nth-child(2){
  padding-top: 150px;
  background-image: url(../img/illustration-2.jpg);
  background-repeat: no-repeat;
}

.services-list li:nth-child(3){
  padding-top: 150px;
  background-image: url(../img/illustration-3.jpg);
  background-repeat: no-repeat;
}
.services-item h3 {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-item p {
  margin-bottom: 35px;
}

.button-app {
  background-color: #00ca74;
  color: #ffffff;
}

.button-app:focus,
.button-app:hover  {
  background-color: #00bc6c;
  color: #ffffff;
}

.button-app:active{
  background-color: #00aa62;
  color: #4dc491;
}

.button-presentation {
  background-color: #efc84a;
  color: #ffffff;
}

.button-presentation:focus,
.button-presentation:hover {
  background-color: #eab534;
  color: #ffffff;
}

.button-presentation:active {
  background-color: #e5a722;
  color: #ecbe5c;
}

        /*ABOUT US*/

.info {
  padding-right: 180px;
  padding-left: 140px;
  margin-bottom: 140px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

div.info-column-right {
  width: 360px;
  display: flex;
  flex-direction: column;
}

div.info-column-left {
  width: 650px;
  display: flex;
  flex-direction: column;

}

span.work-percent {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 25px;
}

.info-title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  width: 650px;
}

.info h3 {
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.orders-item {
  margin-bottom: 25px;
}

.work-list {
  list-style: none;
  text-transform: none;
  display: flex;
}

.work-item {
  line-height: 1;
}

.work-percent {
  font-size: 45px;
  line-height: 0.22;
}

      /*PARTNERS*/

.partners {
  padding-right: 180px;
  padding-left: 170px;
  margin-bottom: 130px;
  opacity: 0.3;
}

.partners-logo {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.contacts-info,
.contacts-tel a {
  color: #666;
}

.contacts-info b {
  font-size: 18px;
  color: #000;
}

.contacts-info p {
  line-height: 1.13;
}

.button-contact {
  color: #fff;
  background-color: #fb565a;
}


/* FOOTER */
.main-footer {
  padding-left: 140px;
  display: flex;
  flex-direction: row;
}
.social-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.social-list li {
  margin-right: 60px;
}

.social-icon {
  background-color: #e1e1e1;
}

.footer-slogan {
  display: flex;
  flex-direction: column;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 1;
  color: #000;
}

.footer-slogan p {
  line-height: 1.38;
}
/* FEEDBACK FORM */


                       /* CATALOG.HTML*/
.container-catalog h1 {
  font-size: 55px;
  line-height: 1;
  background-color: #e1e1e1;
  text-align: center;
}

/* Sorting*/
.sorting {
  width: 850px;
  display: flex;
  justify-content: flex-end;
  margin-left: 400px;
  margin-right: 140px;
}

.sorting p {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 260px;
  align-items: center;
}

.sorting-list-value {
  list-style: none;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 140px;
}

.sorting-list-value li {
  margin-left: 27px;
  align-items: center;
}

.sorting-item-value a {
  color:rgba(0, 0, 0, 0.3);
}

.sorting-item-value a.by-price-current {
  color: #000;
}

.sorting-list-turn {
  list-style: none;
}

.filter-form {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 140px;
}

.price,
.grid,
.features {
  border: none;
  margin-bottom: 20px;
}

.price-range-min,
.price-range-max {
  line-height: 1.38;
  text-transform: uppercase;
}

.grid-item {
  list-style: none;
  line-height: 1.25;
}

.price label,
.grid legend,
.features legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

.features-item {
  list-style: none;
  line-height: 1.25;
}

.button-filter {
  font: inherit;
  width: 260px;
  height: 50px;
  color: #000;
  background-color: #eee;
  line-height: 1.13;
}

.button-filter:focus,
.button-filter:hover {
  background: #dfdfdf;
  color: #000;
}

/* !добавить тенюшку! */
.button-filter:active {
  background: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  list-style: none;
  line-height: 1.13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  text-align: center;
  background-color: #e1e1e1;
  margin-bottom: 10px;
}

.catalog-item a {
  color: #000;
}

.catalog-item p {
  color: #666;
}

.catalog-item-price a {
  width: 200px;
  height: 50px;
  color: #fff;
}

.pagination-list {
  list-style: none;
  display: flex;
  margin-bottom: 70px;
}

.pagination-list li {
  align-items: ;
}

.pagination-item a {
  line-height: 1.13;
  text-align: center;
  background-color: #eee;
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 3px;
}
.pagination-item-current a {
  background-color: #fff;
  border: 2px solid #a6a6a6;
  padding: 9px 14px;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  border-top: 2px solid #dbdbdb;
}

.pagination-list a.button {
  background-color: #eeeeee;
  color: #000;
}
