/* Fonts */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src:  url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";

  src:  url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";

  src:  url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
}

/* ОБЩИЕ СТИЛИ */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
}

img {
  max-width: 100%; /* от переполнения за границы родительского контейнера */
  height: auto;
}

a {
  text-decoration: none;
}

.container-center {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 13px 35px;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.1;
  background-color: #000;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

                    /* HEADER */

.background {
  background-color: #eee;
}

.main-header {
  background-color: #eee;
}

 /* Navigation */
.main-navigation {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  padding-top: 49px;
}

.main-header-logo {
  width: 160px;
}

.main-header-logo:hover,
.main-header-logo:focus {
 opacity: 0.8;
}

.main-header-logo:active {
 opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 440px;
}

.current-page {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  max-width: 140px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link:before {
  content: "";

  position: absolute;

  top: 8px;
  left: 10px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.user-navigation a {
  line-height: 1.88;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
  color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

                  /* MAIN */

/* Слайдер*/

.slider {
  margin-bottom: 80px;

  position: relative;
  background-color: #eee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  padding: 15px;

  display: inline-block;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 18px;
  height: 18px;

  background: #fff;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 78px 0 65px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item-1::before,
#product-2:checked ~ .slider-controls .slider-controls-item-2::before,
#product-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content: "";

  position: absolute;
  left: 55%;
  top: 55%;
  z-index: 1;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 520px;
	margin: 0 0 27px 0;

  font-size: 55px;
  line-height: 1;
  font-weight: 500;
}

.slider-item p {
  width: 360px;
  margin: 0 0 38px 0;
}

.button-slider {
  padding-left: 53px;
  padding-right: 53px;

  min-width: 240px;
}


 /* Услуги */

.services {
  margin-bottom: 20px;
  margin-right: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.services-list li:nth-child(1){
  background-image: url("../img/illustration-1.jpg");
}

.services-list li:nth-child(2){
  background-image: url("../img/illustration-2.jpg");
}

.services-list li:nth-child(3){
  background-image: url("../img/illustration-3.jpg");
}

.services-item {
  padding-top: 170px;

  text-align: left;
  width: 300px;
  background-repeat: no-repeat;
}

.services-item h3 {
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.services-item p {
  margin-right: 20px;
  margin-bottom: 30px;
}

.button-web,
.button-app,
.button-presentation {
  min-width: 160px;
}

.button-app {
  background-color: #00ca74;
}

.button-app:focus,
.button-app:hover  {
  background-color: #00bc6c;
}

.button-app:active{
  background-color: #00aa62;
  color: #4dc491;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:focus,
.button-presentation:hover {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: #ecbe5c;
}

        /* О нас*/

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 70px;
}

.info-column-left {
  width: 650px;

  margin-top: 70px;
}

.info-column-right {
  width: 390px;
}

.info-title {
  display: inline-block;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  width: 650px;
  margin-bottom: 15px;
}

.info-text {
  margin-bottom: 45px;
}

.info h3 {
  text-transform: uppercase;
}

.work {
  margin-bottom: 50px;
}

.work-item {
  display: inline-block;
  margin-right: 25px;
}

.work-percent {
  font-size: 45px;
  line-height: 0.22;
  font-weight: 700;
}

.work-percent sup {
  font-size: 28px;
  line-height: 0;
  vertical-align: top;
  margin-left: -.30em;
  position: relative;
}

.work-description {
  line-height: 1.13;
  color: #283136;
}

.orders-list {
  padding-left: 40px;
  list-style: none;
}

.orders-item {
  margin-bottom: 25px;
  position: relative;
}

.orders-item:before {
  content: "";
  position: absolute;

  top: 10px;
  left: -40px;

  width: 25px;
  height: 2px;
  vertical-align: middle;
  background-color: #fb565a;
}


.work-list {
  list-style: none;
  text-transform: none;
  display: flex;
}

.work-item {
  line-height: 1;
}

.work-percent {
  font-size: 45px;
  line-height: 0.22;
}

.work-description {
  display: inline-block;
  margin-top: 20px;
}

      /* ПАРТНЕРЫ */

.partners {
  margin-bottom: 97px;
}

.partners-logo {
  display: flex;
  justify-content: space-between;

  position: relative;
	padding: 30px 0 20px 0;
  margin: 0;

  list-style: none;
}

.partners-logo::before {
  content: "";

  position: absolute;
  top: -20px;
  width: 1160px;

  background-color: inherit;
  border-top: 3px solid #eee;
}

.partners-logo::after {
  content: "";

  position: absolute;
  bottom: -17px;
  width: 1160px;

  background-color: inherit;
  border-bottom: 3px solid #eee;
}

.partners-logo li {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin-right: 40px;

	width: 260px;
}

.partners-logo li:after {
  content: "";

	position: absolute;
	height: 52px;
  right: -20px;

	vertical-align: middle;
	background-color: inherit;
	border-right: 2px solid #eee;
}

.partners-logo li:last-child:after {
	display: none;
}

.partners-logo img {
	opacity: 0.2;
}

.partners-logo img:hover,
.partners-logo img:focus {
	opacity: 1;
}

.partners-logo img:active {
	opacity: 0.1;
}

.partners-logo li:last-child {
	margin-right: 0;
}

    /* КОНТАКТЫ */

.contacts {
  position: relative;
  min-height: 416px;
  background-color: #e9e5dc;
  overflow: hidden;
}

/* Карта */
.contacts-map {
  position: absolute;
  left: 0;
  right: 0;
  width: 1440px;
  height: 416px;
  margin-right: auto;
  margin-left: auto;
}

/* Адрес */
.contacts-info {
  position: absolute;
  left: calc(50% - 580px);
  top: 60px;
  padding: 50px 50px;

  width: 320px;
  min-height: 308px;

  background-color: #fff;
}

.contacts-info,
.contacts-tel a {
  color: #666;
}

.contacts-info b {
  font-size: 18px;
  color: #000;
  vertical-align: middle;
}

.contacts-info p {
  padding-right: 10px;
  line-height: 1.13;
}

.button-contact {
  margin-top: 30px;
  min-width: 219px;
}

    /* FOOTER */

.main-footer {
  display: flex;
  margin: 69px 130px 69px 0;
}

/* Иконки - соцсети */
.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 130px;
}

.social-item a {
  display: flex;
  align-items: center;

  position: relative;
  margin-right: 12px;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item a::before {
  display: block;
  align-items: center;

  margin: 0 auto;
}

.vk a::before {
  content: "";

  background: url("../img/vk-icon.svg") center no-repeat;
  width: 26px;
  height: 15px;
}

.fb a::before {
  content: "";

  background: url("../img/fb-icon.svg") center no-repeat;
  width: 12px;
  height: 22px;
}

.insta a::before {
  content: "";

  background: url("../img/insta-icon.svg") center no-repeat;
  width: 21px;
  height: 21px;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #e74246;
}

.social-item a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.social-item a:active::before {
  opacity: 0.3;
}

/* Слоган */
.footer-slogan {
  display: flex;
  flex-direction: column;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 1;
  color: #000;
}

.footer-slogan p {
  line-height: 1.38;
}

/* Форма для связи */
.popup-connection {
  position: fixed;
  padding: 70px 100px 85px 100px;
  top: 20px;
  bottom: 170px;
  left: 50%;

  width: 960px;
  transform: translateX(-50%);

  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.popup-connection  h2 {
  margin: 0 0 50px 0;

	font-size: 45px;
	line-height: 1;
  font-weight: 500;
}

.popup-connection form {
  display: flex;
  flex-wrap: wrap;
}

.popup-connection-item label {
  display: block;
  margin-bottom: 8px;

	line-height: 1.13;
	font-weight: 700;
}

.popup-connection-input,
.popup-connection-textarea {
  padding: 13px;

  width: 100%;

  border: 2px solid #d7dcde;
  border-radius: 6px;
  outline: none;
}

.popup-connection-input.is-invalid {
  border-color: #e74246;
  color: #e74246;
}

.popup-connection-input:not(.is-invalid):not(.is-valid):hover,
.popup-connection-textarea:not(.is-invalid):not(.is-valid):hover {
  border-color: #b4b9bb;
}

.popup-connection-input:not(.is-invalid):not(.is-valid):focus,
.popup-connection-textarea:not(.is-invalid):not(.is-valid):focus {
  border-color: #000;
  color: #444;
}

.popup-connection .name {
  width:50%;
  padding-right: 40px;
}

.popup-connection .email {
  width: 50%;
}

.popup-connection .text {
  width: 100%;
}

/* Кнопка отправки формы */

.button-connection {
	width: 260px;
  padding: 16px 5px;
}

/* Кнопка закрытия формы */
.button-close {
  position: absolute;
  top: 78px;
  right: 90px;

	width: 21px;
  height: 21px;

  font-size: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.button-close::before,
.button-close::after {
  content: "";

  position: absolute;
  left: 1px;

	width: 24px;
  height: 3px;

  background-color: #fecccd;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after,
.button-close:focus::before,
.button-close:focus::after {
	background-color: #fb565a;
}

.button-close:active::before,
.button-close:active::after {
	background-color: #ffeeee;
}

                       /* CATALOG.HTML*/

.page-title {
  padding: 70px calc(50% - 600px);

  text-align: center;
  background-color: #eee;
}

.container-title {
  display: inline-block;

  font-size: 55px;
  line-height: 1;
  font-weight: 500;

  background-color: #eee;
  color: #000;
}

.wrapper-column {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.wrapper-column-left {
  box-sizing: content-box;
  max-width: 360px;
}

.wrapper-column-right {
  width: 760px;
}

    /* Фильтры */

.price,
.grid,
.features {
  width: 260px;

  margin-bottom: 20px;
  border: none;
}

.price legend,
.grid legend,
.features legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

/* Стоимость */

.range-filter {
  width: 260px;
  margin-top: 45px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 19px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price  {
  margin-right: -4px;
}

.max-price {
  text-align: right;
}

/* Сетка */
.grid-item,
.features-item  {
  margin-bottom: 20px;

  line-height: 1.25;
}

.grid-item label,
.features-item label {
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}

.grid-item-radio+label::before  {
  content: "";
  position: absolute;
  padding-right: 10px;

  top: -2px;
	left: -35px;
	width: 25px;
  height: 25px;

  border: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
	color: #4d4d4d;
	opacity: 0.4;
}

.grid-item-radio:checked+label::before  {
  content: "";
  position: absolute;

  top: -2px;
	left: -35px;
	width: 25px;
  height: 25px;

  border: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%234D4D4D' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
	color: #4d4d4d;
	opacity: 0.4;
}

.grid-item-radio+label:hover::before,
.grid-item-radio:focus+label::before {
	color: #4d4d4d;
	opacity: 1;
}

.grid-item-radio:disabled+label {
	color: rgba(40, 49, 54, 0.3);
}

.grid-item-radio:disabled+label::before {
	color: #4d4d4d;
	opacity: 0.1;
}

/* Особенности */
.features-item-checkbox+label::before {
  content: "";
  position: absolute;
  padding-right: 10px;

  top: -2px;
	left: -35px;
	width: 23px;
  height: 23px;

  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%234D4D4D' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
	color: #4d4d4d;
	opacity: 0.4;
}

.features-item-checkbox:checked+label::before {
  content: "";
  position: absolute;

  top: -2px;
	left: -35px;
	width: 23px;
  height: 23px;

  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
	color: #4d4d4d;
	opacity: 0.4;
}

.features-item-checkbox+label:hover::before,
.features-item-checkbox:focus+label::before {
	color: #4d4d4d;
	opacity: 1;
}

.features-item-checkbox:disabled+label {
	color: rgba(40, 49, 54, 0.3);
}

.features-item-checkbox:disabled+label::before {
	color: #4d4d4d;
	opacity: 0.1;
}

.button-filter {
  max-width: 260px;
  padding-right: 88px;
  padding-left: 89px;

  color: #000;
  background-color: #eee;
  line-height: 1.13;
  border: none;
}

.button-filter:focus,
.button-filter:hover {
  background-color: #dfdfdf;
  color: #000;
}

.button-filter:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/* Сортировка */

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 39px;
}

.sorting span {
  margin-right: 250px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-list-value {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 280px;

  text-transform: uppercase;
}

.sorting-item-value {
  font-size: 14px;
  line-height: 1.29;
}

.sorting-item-value a {
  color:rgba(0, 0, 0, 0.3);
}

a.sorting-item-current {
  color: #000;
}

.sorting-list-value a:hover,
.sorting-list-value a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-list-value a:active {
	color: #000;
}

.sorting-list-turn {
  display: flex;
  flex-wrap: wrap;

  width: 60px;
}

.sorting-item-turn a {
  padding-left: 18px;
}

.sorting-list-turn a:hover::before,
.sorting-list-turn a:focus::before {
	opacity: 0.6;
}

.sorting-list-turn a::before {
	opacity: 0.3;
}

.sorting-list-turn a:active::before {
	opacity: 1;
}

.turn-down::before {
  content: "";
  display: inline-block;

	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;

	width: 11px;
	height: 10px;
}

.turn-up::before {
  content: "";
  display: inline-block;

	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;

	width: 11px;
	height: 10px;
}

/* Каталог сайтов */

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  line-height: 1.13;
}

.catalog-item {
  position: relative;
  padding-top: 39px;
  margin-bottom: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 360px;
  background-color: #e1e1e1;
}

.catalog-item:nth-child(odd):not(:last-child) {
  margin-right: 40px;
}

.catalog-item::before,
.catalog-item::after {
  content: "";
  position: absolute;
}

.catalog-item::before {
  top: 0;
  left: 0;
  height: 40px;
  width: 359px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(77, 77, 77, .12);
}

.catalog-item::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 12px;
  left: 35px;
  color: #fff;
  background-color: currentColor;
  box-shadow: -25px 0 0 0 currentColor, 25px 0 0 0 currentColor;
}

.catalog-item:hover::before {
  background-color:  rgba(77, 77, 77, 1);
}

.catalog-item img {
  display: block;
}

.catalog-item:hover .catalog-description,
.catalog-item:focus .catalog-description {
	visibility: visible;
}

.catalog-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  visibility: hidden;
  padding: 35px 65px 40px 65px;

  text-align: center;
  background-color: #eee;
}

.catalog-description h3 {
  color: #000;
  margin: 0;
  margin-bottom: 25px;
}

.catalog-description p {
  color: #666;
  margin-bottom: 30px;
}

.catalog-description .button-price {
  width: 200px;

  color: #fff;
}

/* Пагинация */
.pagination-list {
  list-style: none;
  display: flex;
  margin-bottom: 70px;
}

.pagination-item a {
  line-height: 1.13;
  text-align: center;
  background-color: #eee;
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: #fff;
  border: 2px solid #a6a6a6;
  padding: 9px 14px;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.button-pagination {
  background-color: #eee;
  color: #000;
}
